html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  color: #2e3532;
  font-family: "Montserrat", sans-serif;
  margin: 0 8px;
}

header {
  border-bottom: 1px solid #d2d4c8;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
}

nav a {
  color: #2e3532;
  text-decoration: none;
}

nav a img {
  padding-top: 6px;
  width: 24px;
}

nav a:visited {
  color: inherit;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  font-size: 1.5rem;
  padding-left: 12px;
}

.nav-links li:nth-child(3) {
  padding-right: 24px;
}

.hamburger {
  display: none;
}

.personal-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

article {
  flex: 1 0 30%;
  margin: 12px 6px;
  text-align: center;
  border: 2px solid #d2d4c8;
  border-radius: 10px;
  padding: 0 10px;
  max-width: 360px;
}

article img {
  display: block;
  margin: 0 auto 12px;
  width: 240px;
  height: 160px;
}

article a {
  border: none;
  color: inherit;
  margin: auto 6px;
}

article p {
  margin: 12px auto 12px;
  text-align: left;
  width: 240px;
}

article .technologies {
  font-style: italic;
  margin-top: 12px;
}

section {
  margin-bottom: 64px;
}

#about p {
  text-align: justify;
}

.tech {
  display: flex;
  flex-wrap: wrap;
}

.tech-list {
  border: 2px solid #d2d4c8;
  border-radius: 6px;
  margin: 6px 6px 6px 0;
  padding: 6px;
}

.tech-img {
  margin: 0 6px;
  width: 60px;
  height: 60px;
}

#contact h2 {
  margin-bottom: 0;
}

#contact p {
  font-size: 12px;
  margin: 0 0 27px;
}

#contact form {
  display: flex;
  flex-direction: column;
  max-width: 680px;
}

#contact form input,
#contact form textarea {
  border: 2px solid #d2d4c8;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 12px;
}

#contact form textarea {
  height: 120px;
  resize: none;
}

#contact form button {
  border: none;
  border-radius: 6px;
  background-color: #d2d4c8;
  font-size: 1.25rem;
  height: 36px;
}

#contact form button:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.25s;
}

footer {
  margin: 256px -8px 0;
  background-color: #d2d4c8;
  padding: 8px;
  text-align: center;
}

@media (max-width: 679px) {
  .nav-links {
    display: block;
    position: fixed;
    transform: translateY(-105%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #d2d4c8;
    list-style: none;
    padding-top: 4rem;
  }

  .nav-links li:nth-child(n + 4) {
    display: inline;
  }

  .tech-img {
    width: 40px;
    height: 40px;
  }

  .show-menu {
    transform: translateY(-5%);
    height: 100vh;
  }

  .hamburger {
    display: block;
    position: fixed;
    z-index: 100;
    top: 20px;
    right: 9px;
    padding: 6px;
    border: 1px solid #2e3532;
    background-color: #ffffff;
    color: #2e3532;
    cursor: pointer;
  }

  .close-icon {
    display: none;
    height: 12px;
    width: 12px;
  }
}

@media (min-width: 680px) {
  h1 {
    align-items: center;
  }

  nav a:hover {
    text-decoration: overline;
  }
}
