html {
  scroll-behavior: smooth;
  scroll-padding-top: 86px;
}

body {
  color: #2e3532;
  font-family: "Montserrat", sans-serif;
  margin: 0 8px;
}

.tech-img {
  margin: 0 6px;
  width: 60px;
  height: 60px;
}

.personal-projects {
  display: flex;
  flex-wrap: wrap;
}

article {
  margin: 12px 0;
  flex: 1 0 21%;
}

article img {
  display: block;
  width: 240px;
  height: 160px;
}

article a {
  margin-right: 12px;
  padding-top: 24px;
}

article p {
  width: 240px;
}

h1 {
  display: flex;
}

nav {
  border-bottom: 1px solid #a78a7f;
  background-color: #fff;
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  font-size: 1.5rem;
  padding-left: 16px;
}

footer {
  margin: 280px -8px 0;
  background-color: #d2d4c8;
  padding: 8px;
}

footer a {
  margin: 0 12px;
  text-decoration: none;
}

footer a img {
  width: 24px;
}

@media (max-width: 559px) {
  .nav-links {
    display: none;
  }

  .tech-img {
    width: 40px;
    height: 40px;
  }

  footer {
    text-align: center;
  }
}

@media (min-width: 560px) {
  h1 {
    align-items: center;
  }

  nav a:hover {
    text-decoration: overline;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
