body {
  background-color: #f2f7f2;
  color: #222e50;
  font-family: "Quicksand", sans-serif;
  margin: 0 5%;
}

a {
  border-bottom: 3px solid #e9d985;
  color: #222e50;
  text-decoration: none;
}

a:hover {
  color: #ed217c;
  transform: scale(1.2);
}

nav {
  position: absolute;
  right: 5%;
}

nav a {
  font-size: 14px;
  margin-left: 6px;
}

h1 {
  font-family: "Martel", serif;
  font-size: 36px;
}

h2 {
  border-top: 3px solid #e9d985;
  width: 75%;
}

h2,
h3 {
  font-size: 30px;
}

#contact h3 {
  font-size: 24px;
}

section h2,
section h3 {
  font-size: 24px;
}

header {
  height: 100vh;
}

header h1 {
  margin-top: 0;
  padding-top: 160px;
}

header p {
  margin: 0;
  width: 80%;
}

header p:nth-child(4) {
  margin-top: 12px;
}

#about {
  margin-bottom: 160px;
}

#projects {
  margin-top: 140px;
}

#projects section img {
  height: 50%;
  max-height: 240px;
  width: 100%;
}

#projects section a {
  border-bottom: 2px solid #ed217c;
  color: #222e50;
}

section {
  background-color: #e9d985;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #9cafb7;
  margin: 18px auto;
  padding: 6px 12px 36px;
  width: 75%;
}

section:hover {
  transform: scale(1.05);
}

.group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#contact h2 {
  margin: 0;
}

footer .message {
  border-radius: 10px;
  background-color: #e9d985;
  display: inline-block;
  font-size: 18px;
  padding: 12px;
  margin-bottom: 36px;
}

form {
  margin: 36px 0;
}

form button {
  border: none;
  border-radius: 10px;
  background-color: #e9d985;
  font-size: 18px;
  padding: 12px;
  margin: auto;
  width: 250px;
}

label,
input,
textarea {
  background-color: #f2f7f2;
  border-radius: 10px;
  display: block;
  padding: 6px 2px;
  width: 100%;
}

input,
textarea {
  border: 1px solid #222e50;
}

.social {
  margin-bottom: 8%;
}

.social a {
  margin-right: 40px;
}

.copy {
  text-align: center;
}

@media all and (min-width: 372px) {
  h1 {
    font-size: 48px;
  }

  header p {
    font-size: 18px;
  }

  .social a {
    font-size: 18px;
  }
}

@media all and (min-width: 568px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 36px;
    width: 40%;
  }

  header p {
    font-size: 24px;
  }

  nav a {
    font-size: 24px;
    margin-left: 24px;
  }

  section {
    padding: 6px 12px 66px;
  }

  .group {
    flex-direction: row;
  }

  .group > section {
    flex: 0 40%;
  }

  label,
  input,
  textarea {
    width: 80%;
  }
}

@media all and (min-width: 992px) {
  body {
    margin: 0 10%;
  }

  nav {
    right: 10%;
  }

  h1 {
    font-size: 84px;
  }

  h2,
  h3 {
    font-size: 60px;
  }

  #contact h3 {
    font-size: 32px;
  }

  section h2,
  section h3 {
    font-size: 30px;
  }

  .group section p,
  #about p,
  form label {
    font-size: 24px;
  }

  header p {
    font-size: 30px;
  }

  .social a {
    font-size: 32px;
  }
}
